* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ADD8E6;
}
h1 {
  text-align: center;
  font-family: 'Nerko One', cursive;
  font-size: 100px;
  color: white;
}
.container {
  width: 800px;
  height: 800px;
  background-color: red;
  margin: auto;
}
