* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ADD8E6;
}
h1 {
  text-align: center;
  font-family: 'Nerko One', cursive;
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.container {
  width: 80%;
  height: 80%;
  background-color: #ADD8E6;
  margin:0 auto;
  text-align: center;
}
.cards {

  width: 60%;
  margin: auto;
}
.row {
  text-align: center;
  padding: 20px;

}
.card {
  background-color: white;
  width: 20%;
  display: inline-block;
  padding: 15px;
  border-radius: 16px;
  background-image: url('../img/pattern.png');
  background-size: contain;
}
.card img {
  width: 100%;
  visibility: hidden;
}
.card h2 {
  font-size: 20px;
  visibility: hidden;
}
.card h2 {
  font-family: 'Nerko One', cursive;
  color: orange;
}
.card:hover {
  background-image: none;
}
.card:hover img {
  visibility: visible;

}
.card:hover h2 {
  visibility: visible;
}
footer {
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  position: relative;
  font-family: 'Nerko One', cursive;
}
